@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    font-family: "VT323", sans-serif;
    background-color: white;
    padding: 1 !important;
    margin: 0;
}

.navbar {
    background-color: hsla(0, 100%, 100%, 0.08);
    box-shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
        0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
        0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);

    height: 12vh;
}

.login {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 23rem;
    height: 30rem;
}

.blocks {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50% !important;
}

.for-loading {
    background-color: white !important;
}

@media screen and (max-width: 576px) {
    .panel-row-1 {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .blocks {
        width: 100% !important;
    }

    .chatroom-stats {
        width: 100% !important;
    }

    .chatroom-dashbaord-div {
        display: flex !important;
        flex-direction: column !important;
    }

    .user-stats-main {
        display: flex;
        flex-direction: column !important;
    }
}

@media screen and (min-width: 1200px) {
    .main-stats {
        width: 100% !important;
    }

    .main-stats-div {
        width: 50% !important;
    }

    .chatroom-stats {
        width: 50% !important;
    }
}

.main-panel {
    align-self: baseline;
}

.main-panel .blocks-1 {
    background: rgb(109, 128, 254);
    background: linear-gradient(
        45deg,
        rgba(109, 128, 254, 1) 1%,
        rgba(35, 210, 253, 1) 71%
    );

    color: white;
}

.blocks-2 {
    background: rgb(45, 212, 191);
    background: linear-gradient(
        45deg,
        rgba(34, 197, 94, 1) 0%,
        rgba(45, 212, 191, 1) 100%
    );

    color: white;
}

.blocks-3 {
    background: rgb(248, 113, 113);
    background: linear-gradient(
        45deg,
        rgba(220, 38, 38, 1) 0%,
        rgba(248, 113, 113, 1) 100%
    );

    color: white;
}
